<ion-view title="Login" >
    <ion-content has-header="true" padding="true" class="login">

        <a class="btn-auth btn-facebook large" ng-click="login('facebook')">
            Sign in with <b>Facebook</b>
        </a>

        <a class="btn-auth btn-google large" ng-click="login('google')">
            Sign in with <b>Google+</b>
        </a>

        <a class="btn-auth btn-twitter large" ng-click="login('twitter')">
            Sign in with <b>Twitter</b>
        </a>

    </ion-content>
</ion-view>