.btn-auth{
    display:block;
    clear:both;
    width:80%;
    margin:15px auto;
}

ion-content.login{
    background: url("../img/sunset.jpg") center center no-repeat;
    background-size: cover;
}